html {
	background-image: url("../img/unisa.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: cover;
	/* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
	-webkit-background-size: cover;
	/* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
	-moz-background-size: cover; /* optional for Firefox 3.6 */
	-o-background-size: cover; /* for Opera 9.5 */
	margin: 0; /* to remove the default white margin of body */
	padding: 0; /* to remove the default white margin of body */
}

body {
	margin-top: 200px;
}

div.container {
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	height: 300px;
	width: 800px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	overflow-y: scroll;
	text-align: center;
	background-color: #fff;
}

h1, h2 {
	padding-top: 1%;
	text-align: center;
	font-family: serif;
	font-style: italic;
}

h2 {
	color: #000;
	text-shadow: 0 0 3px #fff;
}

::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-track-piece {
	background-color: transparent;
	-webkit-border-radius: 6px;
}
