body {
	margin-top: 200px;
}

div.container {
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	height: 430px;
	width: 800px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	overflow-y: scroll;
	text-align: center;
	background-color: #fff;
}

h1, h2 {
	padding-top: 1%;
	text-align: center;
	font-family: serif;
	font-style: italic;
}

h2 {
	color: #000;
	text-shadow: 0 0 3px #fff;
}

table.docTable {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-color: #ccc;
	border-collapse: collapse;
}

table.docTable td {
	background-color: #f9f9f9;
	font-family: Georgia, serif !important;
	vertical-align: top;
	font-size: 14px;
	padding: 10px 5px;
	border-style: solid;
	border-width: 0px;
	overflow: hidden;
	word-break: normal;
	border-color: #ccc;
	color: #333;
	border-top-width: 1px;
	border-bottom-width: 1px;
}

table.docTable th, div.divShowHidden {
	font-family: Georgia, serif !important;
	font-weight: bold;
	font-style: italic;
	padding: 10px 5px;
	border-style: solid;
	border-width: 0px;
	overflow: hidden;
	word-break: normal;
	border-color: #ccc;
	color: #333;
	background-color: #f0f0f0;
	border-top-width: 1px;
	border-bottom-width: 1px;
	vertical-align: top;
	font-size: 14px;
}

.btnShowHidden, a.button, a.button:link, a.button:visited {
	box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset;
	background: linear-gradient(rgb(255, 255, 255) 5%, rgb(246, 246, 246)
		100%) rgb(255, 255, 255);
	border: 1px solid rgb(220, 220, 220);
	display: inline-block;
	cursor: pointer;
	color: rgb(102, 102, 102);
	font-family: Georgia, serif !important;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 12px;
	text-decoration: none;
}

div.divShowHidden {
	padding: 0 10% 0 10%;
}