header {
	margin-left: -0.8%;
	overflow: hidden;
	position: fixed;
	background-color: #fff;
	width: 100%;
	top: 0;
}

.navbar {
	overflow: hidden;
	background-color: #cfeefc;
	position: fixed;
	margin-left: -0.6%;
	top: 130px;
	width: 150%;
	box-shadow: 0 3px 5px 0 rgba(0, 1, 0, 0.35);
}

.navbar a {
	left: 40%;
	float: left;
	display: block;
	color: #0f1111;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
	background: #000000;
	color: #f2f2ff;
}