@charset "ISO-8859-1";

input[type=text], input[type=date], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.Modifica {
    background-color: #1f1fe0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin-top: 3%;
    margin-right: 4%;
    font-family: sans-serif;
    font-size: 16px;
}

.Modifica:hover {
     background-color: white;
    color: #1f1fe0;
}

.contenitore {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 3% 10%;
    
}

.col-title {
    float: left;
    width: 25%;
    margin-top: 1%;
    font-family: sans-serif;
    font-size: 16px;
    margin-left: 5%;
    
}

.col-insert {
    float: left;
    width: 55%;
    margin-top: 2%;
     font-family: sans-serif;
    font-size: 16px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .col-title, .col-insert, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}