@charset "ISO-8859-1";

.but_caricaRichiesta{
	box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset;
	background: linear-gradient(rgb(255, 255, 255) 5%, rgb(246, 246, 246)
		100%) rgb(255, 255, 255);
	border: 1px solid rgb(220, 220, 220);
	display: inline-block;
	cursor: pointer;
	color: rgb(102, 102, 102);
	font-family: Georgia, serif !important;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 12px;
	text-decoration: none;
}

.container_ricerca{
	margin: 3% 10%;
	font-size: 18px;
	font-family: sans-serif;
	background: #fff;
	
}

.titolo_lista{
	font-size: 24px;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center; 
}

.div_lista{
	text-align: center;
	padding-bottom: 5%;
}

/******* CONTENITORE TABELLA*********/
.container{
	margin: 7% 10%;
}

/*** TABELLA***/
.view_schede{
	margin-bottom: 4%;
}

.riga{
	
}


.tipo{
	
}

.dato{}


/*** SCRITTA TIROCINIO ***/

.tiro{
	display: inline-block;
	background-color: #a9efd9;
	width: 100%;
	
}

.titoloT{
	padding: 5%;
	font-size: 30px;
	text-align: center;
	font-family: serif;
	font-style: italic;
	font-weight: bold;
}


